*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

/* header start  */

.header{
    width: 1920px;
    height: 1322px;
    left: 0px;
    top: 0px;
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    
}
nav ul{
    display: flex;
    margin-top: 63px;
}
nav ul li{
    list-style: none;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #727272;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 25px;
   
}
.title{
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}
.logo{
    color: orange;
    font-weight: 900px;
}
/* header end   */

/* main start  */
/* 1st section start */
.main-title{
    font-weight: 700;
font-size: 45px;
line-height: 75px;
text-align: center;
font-family: 'Work Sans';
font-style: normal;
margin-top: 55px;


}
.top-des{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.first-button{
width: 180px;
height: 64px;
left: 870px;
top: 463px;
background: #fa8b0d;
border-radius: 8px;
margin-bottom: 70px;
}
.text{
    color: aliceblue;
    font-size: 20px;
}
.bg-imgage{
   p
    width: 1440px;
    height: 700px;
    left: 240px;
    top: 577px;
}
/* 1st section end  */

/* 2nd section start  */
.grid{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 73px;
    margin-bottom: 100px;
    left: 54px;
    margin-top: 100px;
}
.quick{
position: absolute;
width: 468px;
height: 106px;
left: 900px;
top: 1609px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
color: #727272;
}
.of-our{
    color: black;
    font-weight: bolder;
}
.features{
color: #fa8b0d;
font-weight: bolder;
}
.des{
 position: absolute;
width: 537px;
height: 78px;
left: 900px;
top: 1739px;
color: #727272;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
}
.second-button{
    position: absolute;
width: 180px;
height: 64px;
left: 900px;
top: 1849px;
width: 180px;
height: 64px;
background: #fa8b0d;
border-radius: 8px;
margin-bottom: 70px;
}
/* 2nd section end  */

/* 3rd section start  */
.title-line{
    position: absolute;
    width: 468px;
    height: 106px;
    left: 70px;
    top: 2284px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.line{
    color:#fa8b0d;
    font-weight: 700px;
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    width: 468px;
    height: 106px;
    top: 2284px;
    margin-bottom: 4000px;
    left: 50px;
}
.mini-des{
    position: absolute;
width: 586px;
height: 78px;
left: 240px;
top: 2414px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
left: 50px;
}
.third-sec-img{
    position: absolute;
width: 800px;
height: 1059px;
left: 890px;
top: 2280px;
}
.big-button{
    position: absolute;
    width: 342px;
    height: 200px;
    left: 820px;
    top: 3000px;
    margin-top: 10px;
    
    background: #FF900E;
    border-radius: 8px;
}
.year{
    font-family: 'Work Sans';
font-style: normal;
    font-size: 60px;
    font-weight: 800;
color: #FFFFFF;
}
/* grid  */

.grid-dada-first{
position: absolute;
width: 586px;
height: 171px;
left: 50px;
top: 2522px;
background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
}

.section-third-box{
position: absolute;
width: 252px;
height: 23px;
left: 80px;
top: 2552px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #131313;
}
.section-third-des{
    position: absolute;
    width: 514px;
    height: 78px;
    left: 80px;
    top: 2585px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: left;
}
.grid-dada-second{
position: absolute;
width: 586px;
height: 171px;
left: 240px;
top: 2713px;
}
.grid-dada-second{
    position: absolute;
    width: 586px;
    height: 171px;
    left: 50px;
    top: 2713px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.section-third-box-two{
    position: absolute;
    width: 252px;
    height: 20px;
    left: 80px;
    top: 2740px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.section-third-des-two{
    position: absolute;
    width: 514px;
    height: 78px;
    left: 80px;
    top: 2773px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: left;
}
.grid-dada-third{
    position: absolute;
    width: 586px;
    height: 171px;
    left: 50px;
    top: 2904px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.section-third-box-three{
    position: absolute;
    width: 252px;
    height: 23px;
    left: 80px;
    top: 2934px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.section-third-des-three{
    position: absolute;
    width: 514px;
    height: 78px;
    left: 80px;
    top: 2967px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: left;
}
/* 3rd section end  */

/* 4th section start  */
.section-four-title{
position: absolute;
width: 258px;
height: 53px;
left: 200px;
top: 3434px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 900px;
font-size: 42px;
line-height: 53px;
color: #131313
}
.section-four-des{
    position: absolute;
    width: 542px;
    height: 52px;
    left: 200px;
    top: 3511px;
    font-family: 'Work  Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/* 4th section grid start  */

/* logo-part styles */
.logos {
    position: absolute;
    display: flex;
    justify-content:space-evenly;
    align-items:center ;
width: 241.83px;
height: 241.83px;
top: 3663.08px;
left: 850px;
top: 3663.08px;

}
.logo-part:hover{
 z-index: 1;
 box-shadow: 0 8px 50px rgba(0, 0, 0, 0.02);
 transform: scale(1.05);
 -webkit-transform: scale(1.05);
 -moz-transform: scale(1.05);
 -ms-transform: scale(1.05);
 -o-transform: scale(1.05);
 background-color: #FF900E;
}


.logo-part {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.style-container {
    width: 169px;
    height: 136.22px;
    left: 312px;
    top: 3709px;
    text-align: center;
    margin: 45px auto;


}

.gain {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.digit {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
}
.last-title{
    position: absolute;
width: 327px;
height: 53px;
left: 797px;
top: 4085px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.last-des{
position: absolute;
width: 542px;
height: 52px;
left: 689px;
top: 4162px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;

}
.amazon{
    position: absolute;
width: 166.76px;
height: 50px;
left: 240px;
top: 4264px;
mix-blend-mode: luminosity;
color: #727272;
}
.figma{
    position: absolute;
width: 165.83px;
height: 50px;
left: 562px;
top: 4264px;
mix-blend-mode: luminosity;
}
.google{
    position: absolute;
    width: 153.33px;
    height: 50px;
    left: 883px;
    top: 4264px;
    mix-blend-mode: luminosity;
}
.spotify{
    position: absolute;
    width: 152.51px;
    height: 50px;
    left: 1191px;
    top: 4264px;
    mix-blend-mode: luminosity;

}
.telerama{
    position: absolute;
width: 181.67px;
height: 50px;
left: 1498px;
top: 4264px;
mix-blend-mode: luminosity;

}

/* footer atart   */
.copy-rights{
    position: absolute;
width: 620px;
height: 23px;
left: 650px;
top: 4483px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #424242;position: absolute;
width: 1440px;
height: 100px;
left: 240px;
top: 4444px;
background: #FFF4E7;
border-radius: 8px;
margin-top: 38px;
margin-bottom: 38px;
}

@media screen and (min-width: 600px) {
    body {
        .title{
            width: 100%;
            font-size: 40px;
            text-align: 30px;

    }
  }
  @media  screen and (min-width:600px) {
    .main-title{
        font-weight: 700;
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    margin-top: 55px;
  }
